<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth is-success"
  *ngIf="(todos$ | async).length > 0">
  <thead>
    <tr>
      <th><abbr title="Position">Pos</abbr></th>
      <th>Description</th>
      <th>Priority</th>
      <th>Last Updated</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todos$ | async">
      <td [class.is-danger]="todo?.isCompleted" (click)="toogleTodo(todo._id)">
        {{todo._id}}
      </td>
      <td [class.is-danger]="todo?.isCompleted" (click)="toogleTodo(todo._id)">
        {{todo.desc}}
      </td>
      <td [class.is-danger]="todo?.isCompleted" (click)="toogleTodo(todo._id)">
        {{todo.priority}}
      </td>
      <td [class.is-danger]="todo?.isCompleted" (click)="toogleTodo(todo._id)">
        {{todo.lastUpdate | date:'fullDate'}}
      </td>
      <td>
        <button class="button is-outlined is-danger" (click)="removeTodo(todo?._id)">
          REMOVE TODO
        </button>
      </td>
    </tr>
  </tbody>
</table>